.description h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $link-color;
}
.description p {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $text-color;
}
.about .text {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: $link-color;
}
.description {
    padding-top: 94px;
}
.blocks:not(:last-child) {
    margin-right: 30px;
}
.description .text {
    display: flex;
    justify-content: center;
}

.blocks::before {
    content: "";
    display: block;
    height: 120px;
    background-color: $button-color;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
}

.icon-blocks-antenna::before {
    background-image: url(../img/svg_img/advan/antenna.svg);
}
.icon-blocks-clock::before {
    background-image: url(../img/svg_img/advan/clock.svg);
}

.icon-blocks-diagram::before {
    background-image: url(../img/svg_img/advan/diagram.svg);
}

.icon-blocks-astronaut::before {
    background-image: url(../img/svg_img/advan/astronaut.svg);
}

.text p {
    margin-top: 10px;
}
