.address__list {
    display: flex;
    flex-direction: column;
}
.address__item:not(:last-child) {
    margin-bottom: 9px;
}
.address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $address-color;
}

.address__item--city {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $button-color;
}
